:root {
    --cursorX: 0px;
    --cursorY: 0px;
}

:root:before {
    content: '';
    display: block;
    position:fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle 200px at var(--cursorX) var(--cursorY),
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 80%,
        rgba(0,0,0,0.95) 100%
    )
}

div {
    width: 100%;
    background: url("https://images5.alphacoders.com/284/thumb-1920-284507.jpg") no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    padding: 20px;
    font-size: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}
